body {
    text-align: center;
    background-color: brown;
}
.board{
    width: 100vw;
    height: 12.5vw;
    max-width: 800px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.center{
    display: inline-block;
}

